body{
    font-family: "Squada One",sans-serif;
    background-color: #202b37;
    color: #daf6ff;
}
.stage{
    padding-left: 2%;
    margin-top:2%;
    padding-top:4%;
    width:45%;
    height:100%;
    margin:1%;
}
.stage:hover{
    filter: opacity(70%);
    cursor: pointer;
}
.select{
    margin-top:3%;
    text-align:center;
    font-size:40px;
    color:aliceblue;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}

.page{
    margin-top:3%;
    text-align:center;
    font-size:20px;
    color:aliceblue;
    text-decoration: none;
}

.page:hover{
    filter: opacity(70%);
    cursor: pointer;
    color: #fff;
}

.page a{
    text-decoration: none;
    vertical-align: middle;
    border-radius: 50%;
    transition: background 1s, border-width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), text-shadow 0.5s;
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
    box-shadow: 0 0 0 rgba(10, 175, 230, 0), inset 0 0 0 rgba(10, 175, 230, 0);
    background-image: radial-gradient(center, ellipse cover, rgba(10, 175, 230, 0) 0%, rgba(10, 175, 230, 0) 90%);
    border: 0 dotted rgba(10, 175, 230, 0);
}

.page a:hover{
    color: #fff;
    text-shadow: 0 0 50px #0aafe6, 0 0 50px #0aafe6;
    background-image: radial-gradient(center, ellipse cover, rgba(10, 175, 230, 0.3) 0%, rgba(10, 175, 230, 0) 60%);
}

p.caption {
    font-size: 0.7em;
    text-align: left;
    position: fixed;
    width: 100%;
    bottom: 0%;
    letter-spacing: 0.2em;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0); }

figure.hover-parent {
width: 250px;
height: 175px;
position: relative;
margin-bottom: 30px;
overflow: hidden;
}
figcaption.hover-mask {
width: 250px;
height: 175px;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0,0,0,0.5);
opacity: 0;
color: #fff;
display: flex;
align-items: center;
text-align: center;
padding: 30px;
}
figure.hover-parent {
    transform-style: preserve-3d;
    perspective: 1500px;
    perspective-origin: 0 50%;
    overflow: visible;
}
figcaption.hover-mask {
    opacity: 1;
    transition:all 0.6s ease;
    transform-origin: 0;
    transform: rotateY(-90deg);
}
figure.hover-parent:hover .hover-mask {
    transform: rotateY(0);
}




.flex_test-box {
    background-color: #eee;     /* 背景色指定 */
    padding:  10px;             /* 余白指定 */
    height: 300px;              /* 高さ指定 */
    display: flex;              /* フレックスボックスにする */
    flex-wrap: wrap;            /* 折り返し指定 */
    align-content:stretch;      /* 折り返し時の配置指定 */
}
 


.flex_test-item {
    padding: 10px;
    color:  #fff;               /* 文字色 */
    margin:  10px;              /* 外側の余白 */
    border-radius:  5px;        /* 角丸指定 */
    font-size:  30px;           /* 文字サイズ */
    width: 200px;               /* 幅指定 */
    text-align:  center;        /* 文字中央揃え */
}
 
.flex_test-item:nth-child(1) {
    background-color:  #2196F3; /* 背景色指定 */
}
 
.flex_test-item:nth-child(2) {
    background-color:  #4CAF50; /* 背景色指定 */
}
 
.flex_test-item:nth-child(3) {
    background-color: #3F51B5; /* 背景色指定 */
}
 
.flex_test-item:nth-child(4) {
    background-color:  #00BCD4; /* 背景色指定 */
}
 

#img-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

#img-list::before {
    content: "";
    width: 100%;
    order: 1;
}

ul li:nth-child(n+3):nth-child(-n+4) {
    order: 2;
}

#img-list::after {
    content: "";
    width: 100%;
    order: 3;
}

ul li:nth-child(n+5):nth-child(-n+6) {
    order: 4;
}

#img-list{
  display:flex;
  flex-flow:wrap;
}
#img-list li{
  width:50%;
  box-sizing:content-box;
}